## 读取数据

In [1]:
import pandas as pd

In [8]:
oringinal_data = pd.read_csv("./nba_player.csv")

In [9]:
oringinal_data.head(10)
# head展示多少行

,Team,Player,Position,Number,Height,Weight,Age
0,Los Angeles Lakers,LeBron James,Forward,23.0,"6'9""",250.0,40.0
1,Los Angeles Lakers,Anthony Davis,Forward-Center,3.0,"6'10""",253.0,31.0
2,Golden State Warriors,Stephen Curry,Guard,30.0,"6'3""",185.0,36.0
3,Golden State Warriors,Klay Thompson,Guard,11.0,"6'6""",215.0,33.0
4,Golden State Warriors,Draymond Green,Forward,23.0,"6'7""",230.0,34.0
5,Brooklyn Nets,Mikal Bridges,Forward,0.0,"6'6""",200.0,27.0
6,Brooklyn Nets,Ben Simmons,Guard-Forward,10.0,"6'10""",240.0,27.0
7,Chicago Bulls,Zach LaVine,Guard,8.0,"6'5""",200.0,28.0
8,Chicago Bulls,DeMar DeRozan,Forward,11.0,"6'6""",220.0,34.0
9,Miami Heat,Jimmy Butler,Forward,22.0,"6'7""",230.0,34.0

## 评估数据

从结构和内容看
结构：每列一个变量，每行一条记录，每个单元是一个值
内容：丢失，重复无效数据

In [10]:
# 抽样10行
oringinal_data.sample(10)

,Team,Player,Position,Number,Height,Weight,Age
59,Brooklyn Nets,Nic Claxton,Center,33.0,"7'0""",240.0,26.0
74,Utah Jazz,Collin Sexton,Guard,2.0,"6'1""",190.0,26.0
73,Oklahoma City Thunder,Josh Giddey,Guard,3.0,"6'8""",200.0,22.0
31,Philadelphia 76ers,Tyrese Maxey,Guard,0.0,"6'2""",190.0,24.0
85,New York Knicks,NaN,Forward,30.0,"6'8""",235.0,29.0
60,Houston Rockets,Jabari Smith Jr.,Forward,10.0,"6'10""",210.0,21.0
36,Atlanta Hawks,Dejounte Murray,Guard,5.0,"6'4""",220.0,28.0
14,Milwaukee Bucks,Jrue Holiday,Guard,21.0,"6'3""",215.0,32.0
92,Brooklyn Nets,Day'Ron Sharpe,Center,22.0,NaN,280.0,22.0
13,Milwaukee Bucks,Giannis Antetokounmpo,Forward,34.0,"6'11""",250.0,29.0

## 评估数据干净度

In [11]:
oringinal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      97 non-null     object
 1   Player    94 non-null     object
 2   Position  97 non-null     object
 3   Number    98 non-null     float64
 4   Height    93 non-null     object
 5   Weight    98 non-null     float64
 6   Age       94 non-null     float64
dtypes: float64(3), object(4)
memory usage: 5.5+ KB

## 评估缺失数据

In [13]:
# 根据info中缺失值去用isnull()进行提取
oringinal_data[oringinal_data["Height"].isnull()]

,Team,Player,Position,Number,Height,Weight,Age
24,Utah Jazz,Lauri Markkanen,Forward,2.0,NaN,225.0,27.0
47,Oklahoma City Thunder,Shai Gilgeous-Alexander,Guard,2.0,NaN,180.0,26.0
57,Chicago Bulls,DeMar DeRozan,Forward,11.0,NaN,220.0,34.0
72,Toronto Raptors,O.G. Anunoby,Forward,3.0,NaN,210.0,28.0
86,Philadelphia 76ers,James Harden,Guard,1.0,NaN,220.0,34.0
92,Brooklyn Nets,Day'Ron Sharpe,Center,22.0,NaN,280.0,22.0

In [15]:
# 多条件
oringinal_data[(oringinal_data["Height"].isnull()) & (oringinal_data["Player"] == "Lauri Markkanen")]

         Team           Player Position  Number Height  Weight   Age
24  Utah Jazz  Lauri Markkanen  Forward     2.0    NaN   225.0  27.0

## 评估重复数据和评估不一致数据

In [16]:
#duplicated() 找重复的
oringinal_data.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
94    False
95    False
96    False
97     True
98    False
Length: 99, dtype: bool

In [17]:
# 不一致数据比如US 和United States
oringinal_data["Team"].value_counts()

Team
Golden State Warriors     6
Chicago Bulls             5
Sacramento Kings          5
Miami Heat                4
Dallas Mavericks          4
Brooklyn Nets             4
Utah Jazz                 4
Denver Nuggets            4
Houston Rockets           4
Atlanta Hawks             4
Oklahoma City Thunder     4
Phoenix Suns              3
Boston Celtics            3
Los Angeles Lakers        3
Portland Trail Blazers    3
Milwaukee Bucks           3
Toronto Raptors           3
New York Knicks           3
Memphis Grizzlies         3
Cleveland Cavaliers       3
New Orleans Pelicans      3
Philadelphia 76ers        3
Indiana Pacers            2
Orlando Magic             2
San Antonio Spurs         2
Minnesota Timberwolves    2
Los Angeles Clippers      2
Detroit Pistons           2
Washington Wizards        2
Charlotte Hornets         2
Name: count, dtype: int64

In [18]:
# 无效或错误数据,describe看看有没有异常的
oringinal_data.describe()

          Number      Weight        Age
count  98.000000   98.000000  94.000000
mean   13.306122  219.428571  27.648936
std    13.148171   23.107994   4.915867
min     0.000000  175.000000  19.000000
25%     3.000000  201.250000  24.000000
50%    10.000000  216.500000  27.000000
75%    22.000000  233.750000  31.000000
max    77.000000  284.000000  40.000000

## 清洗数据

In [19]:
cleaned_data = oringinal_data.copy()

In [20]:
cleaned_data.head()

,Team,Player,Position,Number,Height,Weight,Age
0,Los Angeles Lakers,LeBron James,Forward,23.0,"6'9""",250.0,40.0
1,Los Angeles Lakers,Anthony Davis,Forward-Center,3.0,"6'10""",253.0,31.0
2,Golden State Warriors,Stephen Curry,Guard,30.0,"6'3""",185.0,36.0
3,Golden State Warriors,Klay Thompson,Guard,11.0,"6'6""",215.0,33.0
4,Golden State Warriors,Draymond Green,Forward,23.0,"6'7""",230.0,34.0

In [ ]:
# 数据类型转换
# 转换成日期
# cleaned_data[""] = pd.to_datatime(cleaned_data[""])

In [22]:
# 转换成字符串
cleaned_data["Age"] = cleaned_data["Age"].astype(str)
cleaned_data["Age"]

0     40.0
1     31.0
2     36.0
3     33.0
4     34.0
      ...
94    21.0
95    34.0
96    25.0
97    33.0
98     nan
Name: Age, Length: 99, dtype: object

In [28]:
# 去小数点slice是留头不留尾
cleaned_data["Age"].str.slice(0,-2)

0     40
1     31
2     36
3     33
4     34
      ..
94    21
95    34
96    25
97    33
98     n
Name: Age, Length: 99, dtype: object

In [ ]:
# 删除dataframe的缺失值
# cleaned_data.dropna(subset=[""],inplace=True)

In [31]:
# 替换
cleaned_data["Player"] = cleaned_data["Player"].replace({"LeBron James":"LBJ"})

In [32]:
cleaned_data.head()

,Team,Player,Position,Number,Height,Weight,Age
0,Los Angeles Lakers,LBJ,Forward,23.0,"6'9""",250.0,40.0
1,Los Angeles Lakers,Anthony Davis,Forward-Center,3.0,"6'10""",253.0,31.0
2,Golden State Warriors,Stephen Curry,Guard,30.0,"6'3""",185.0,36.0
3,Golden State Warriors,Klay Thompson,Guard,11.0,"6'6""",215.0,33.0
4,Golden State Warriors,Draymond Green,Forward,23.0,"6'7""",230.0,34.0

In [34]:
len(cleaned_data[cleaned_data["Player"] == "LBJ"])

1

In [40]:
cleaned_data = cleaned_data[cleaned_data["Height"].notnull()]

In [41]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 0 to 98
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      91 non-null     object
 1   Player    88 non-null     object
 2   Position  91 non-null     object
 3   Number    92 non-null     float64
 4   Height    93 non-null     object
 5   Weight    92 non-null     float64
 6   Age       93 non-null     object
dtypes: float64(2), object(5)
memory usage: 5.8+ KB

In [42]:
cleaned_data = cleaned_data[cleaned_data["Weight"].notnull()]
cleaned_data = cleaned_data[cleaned_data["Age"].notnull()]
cleaned_data = cleaned_data[cleaned_data["Player"].notnull()]
cleaned_data = cleaned_data[cleaned_data["Number"].notnull()]

In [43]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86 entries, 0 to 98
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team      84 non-null     object
 1   Player    86 non-null     object
 2   Position  84 non-null     object
 3   Number    86 non-null     float64
 4   Height    86 non-null     object
 5   Weight    86 non-null     float64
 6   Age       86 non-null     object
dtypes: float64(2), object(5)
memory usage: 5.4+ KB

## 保存清理后的文件

In [44]:
cleaned_data.head()

,Team,Player,Position,Number,Height,Weight,Age
0,Los Angeles Lakers,LBJ,Forward,23.0,"6'9""",250.0,40.0
1,Los Angeles Lakers,Anthony Davis,Forward-Center,3.0,"6'10""",253.0,31.0
2,Golden State Warriors,Stephen Curry,Guard,30.0,"6'3""",185.0,36.0
3,Golden State Warriors,Klay Thompson,Guard,11.0,"6'6""",215.0,33.0
4,Golden State Warriors,Draymond Green,Forward,23.0,"6'7""",230.0,34.0

In [45]:
cleaned_data.to_csv("nba_player_cleaned.csv",index = False)